* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.base {
  margin-top: 40px;
  background-color: black;
  border-right: 10px solid rgb(48, 48, 48);
  border-bottom: 2px solid rgb(48, 48, 48);
  border-radius: 8px;
  box-shadow: 12px 12px 10px;
  height: 480px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

h2 {
  color: yellow;
  padding-left: 10px;
}

.display {
  background-color: rgb(146, 255, 255);
  font-size: 20px;
  height: 45px;
  margin: 0 10px 10px;
  padding: 12px 8px;
  border-radius: 0 0 2px 2px;
  text-align: right;
  text-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.secondaryDisplay {
  height: 40px;
  margin: 0 10px;
  border-bottom: 1px solid rgb(30, 195, 255);  
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.buttonContainer {
  font-weight: 600;
}

.row {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.button {
  background-color: rgb(255, 6, 255);
  height: 50px;
  width: 60px;
  border-right: 3px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  font-size: 18px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none; /*to prevent unintentional text highlighting*/
}

#clear,
#del {
  background-color: yellow;
}

#equals {
  flex-grow: 4;
  background-color: rgb(0, 252, 0);
}

#divide,
#multiply,
#subtract,
#add {
  background-color: orange;
}

#signToggle,
#point {
  background-color: rgb(255, 0, 144);
  letter-spacing: 2px;
  font-size: 14px;
}

#point {
  font-size: 26px;
  padding-bottom: 10px;
}

.pressed {
  padding-top: 1px;
  opacity: 0.9;
  box-shadow: 2px 0 rgb(0, 0, 0) inset;
  border-right: none;
  border-bottom: none;
}